@model EmployeeInfo
@{
    ViewData["Title"] = "CreateEmployee";
}

@if (Model != null)
{
    <link rel="stylesheet" href="~/css/employee/create-employee.css" asp-append-version="true" />

    <div class="modal-header">
        <h5>
            <b id="createEmployeeTitle">
                Create Employee
            </b>
        </h5>
    </div>

    <div id="EmployeeCreateFormContainer">
        <div class="row">
            <div class="col-sm-12">
                <form id="formCreateEmployee" autocomplete="off">
                    @* method="post" asp-controller="Employee" asp-action="CreateEmployeeInfo"> *@
                    <ul id="progressbar" class="pk-form-header">
                        <li class="active">Employee Information IAD</li>
                        <li>Application Security Information</li>
                        <li>Employee Information AIG</li>
                    </ul>
                    <fieldset>
                        <div class="pk-form-header">
                            <h2 class="fs-title">Employee Information IAD</h2>
                            <h3 class="fs-subtitle">Please provide Employee IAD Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="@Model.FirstName" class="form-label"></label>
                                    <input asp-for="@Model.FirstName" autocomplete="off" class="form-control form-control-sm">
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="@Model.MiddleName" class="form-label"></label>
                                    <input asp-for="@Model.MiddleName" autocomplete="off" class="form-control form-control-sm">
                                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="@Model.LastName" class="form-label"></label>
                                    <input asp-for="@Model.LastName" autocomplete="off" class="form-control form-control-sm">
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="gradeListDDContainer" data-val="@(Model?.GradeInfo?.Id != Guid.Empty ? Model?.GradeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_GradeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="locationListDDContainer" data-val="@(Model?.LocationInfo?.Id != Guid.Empty ? Model?.LocationInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_LocationList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="departmentListDDContainer" data-val="@(Model?.DepartmentInfo?.Id != Guid.Empty ? Model?.DepartmentInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_DepartmentList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="budgetDepartmentListDDContainer" data-val="@(Model?.BudgetDepartmentInfo?.Id != Guid.Empty ? Model?.BudgetDepartmentInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_BudgetDepartmentList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="titleListDDContainer"
                                     data-val="@(Model?.TitleInfo?.Id != Guid.Empty ? Model?.TitleInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_TitleList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="employeeRoleListDDContainer"
                                     data-val="@(Model?.EmployeeRoleInfo?.Id != Guid.Empty ? Model?.EmployeeRoleInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_EmployeeRoleList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="directReportListDDContainer" data-val="@(Model?.DirectReportInfo?.Id != Guid.Empty ? Model?.DirectReportInfo?.Id : "")">
                                <partial name="~/Views/Employee/Create/_DirectReportList.cshtml" model="null" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.WorkHoursPerWeek" class="form-label"></label>
                                    <input asp-for="@Model.WorkHoursPerWeek" autocomplete="off" min="0" class="form-control form-control-sm">
                                    <span asp-validation-for="@Model.WorkHoursPerWeek" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.LoginID" class="form-label"></label>
                                    <input asp-for="@Model.LoginID" autocomplete="off" class="form-control form-control-sm">
                                    <span asp-validation-for="@Model.LoginID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.IAD_StartDate" class="form-label"></label>
                                    <input asp-for="@Model.IAD_StartDate" autocomplete="off" class="form-control form-control-sm" value="">
                                    <span asp-validation-for="@Model.IAD_StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="hireTypeListDDContainer" data-val="@(Model?.HireTypeInfo?.Id != Guid.Empty ? Model?.HireTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_HireTypeList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        Timesheet Exempt
                                        <span class="mandatory">*</span>
                                    </label>
                                    <select id="selectTimesheetExempt" name="selectTimesheetExempt" class="form-control form-control-sm">
                                        <option disabled selected value=""> -- select an option -- </option>
                                        <option value="N">N</option>
                                        <option value="Y">Y</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">
                                        Allocation
                                        <span class="mandatory">*</span>
                                    </label>
                                    <select id="selectAllocation" name="selectAllocation" class="form-control form-control-sm">
                                        <option disabled selected value=""> -- select an option -- </option>
                                        <option value="N">N</option>
                                        <option value="Y">Y</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-2 m-2">
                            <button type="button" class="btn pk-btn-outline-primary"
                                    onclick="getNextFieldset(this)">
                                Next
                            </button>
                            <div class="text-start p-2 m-2">
                                <button id="btnSaveEmployeeSubmit" type="submit" onclick="saveEmployee()"
                                        class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pk-form-header">
                            <h2 class="fs-title">Application Security Information</h2>
                            <h3 class="fs-subtitle">Please provide Employee Application Security Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ats_adminLevelTypeListDDContainer" data-val="@(Model?.ATS_AdminLevelTypeInfo?.Id != Guid.Empty ? Model?.ATS_AdminLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_ATSAdminLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.ATS_SecurityLevelTypeInfo?.Id != Guid.Empty ? Model?.ATS_SecurityLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_ATSSecurityLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.BPA_ManagementLevelTypeInfo?.Id != Guid.Empty ? Model?.BPA_ManagementLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_BPAManagementLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="ats_adminLevelTypeListDDContainer" data-val="@(Model?.RITA_LevelInfo?.Id != Guid.Empty ? Model?.RITA_LevelInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_RITALevelList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.BPA_LevelInfo?.Id != Guid.Empty ? Model?.BPA_LevelInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_BPALevelList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end p-2 m-2 ">
                                    <button type="button" class="btn pk-btn-outline-primary"
                                            onclick="getPreviousFieldset(this)">
                                        Previous
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-start p-2 m-2">
                                    <button type="button" class="btn pk-btn-outline-primary"
                                            onclick="getNextFieldset(this)">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pk-form-header">
                            <h2 class="fs-title">Employee Information AIG</h2>
                            <h3 class="fs-subtitle">Please provide Employee Application Security Information</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="ats_adminLevelTypeListDDContainer" data-val="@(Model?.ATS_AdminLevelTypeInfo?.Id != Guid.Empty ? Model?.ATS_AdminLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_ATSAdminLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.ATS_SecurityLevelTypeInfo?.Id != Guid.Empty ? Model?.ATS_SecurityLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_ATSSecurityLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.BPA_ManagementLevelTypeInfo?.Id != Guid.Empty ? Model?.BPA_ManagementLevelTypeInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_BPAManagementLevelTypeList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="ats_adminLevelTypeListDDContainer" data-val="@(Model?.RITA_LevelInfo?.Id != Guid.Empty ? Model?.RITA_LevelInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_RITALevelList.cshtml" model="null" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="ats_securityLevelTypeListDDContainer" data-val="@(Model?.BPA_LevelInfo?.Id != Guid.Empty ? Model?.BPA_LevelInfo?.Id : "")">
                                    <partial name="~/Views/Employee/Create/_BPALevelList.cshtml" model="null" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-end p-2 m-2 ">
                                    <button type="button" class="btn pk-btn-outline-primary"
                                            onclick="getPreviousFieldset(this)">
                                        Previous
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-start p-2 m-2">
                                    <button id="btnSaveEmployeeSubmit" type="submit" onclick="saveEmployee()"
                                        class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/employee/create-employee.js" asp-append-version="true"></script>
    <script src="~/js/employee/create-employee-validation.js" asp-append-version="true"></script>
}